table,
tr {
  border: 1px solid #e1e6eb;
}

table,
tr,
td,
th {
  //border: 1px solid $dark-lighter;
  text-align: center;
  line-height: 16px;
  color: $gray-dark;
  a {
    color: $orange;
  }
}

tr th {
  font-size: 14px;
  background-color: #F5F6FA;
  font-weight: normal;
  color: #999;
  padding: 13px 10px;
}

tr td {
  font-size: 12px;
  padding: 13px 10px;
  &.cancel {
    color: $dark-lighter;
  }
}

table {
  width: 100%;
}

.tablebar {
  margin: 0 0 42px;
}

div.table-bar {
  position: relative;
}

ul.download {
  position: absolute;
  right: 0;
  top: -28px;
  text-align: right;
  margin: 0;
  li {
    display: inline-block;
    margin-right: 18px;
    a {
      line-height: 16px;
      display: block;
      font-size: 12px;
      color: $gray-dark;
      text-decoration: none;
      &:hover {
        color: $orange;
      }
      i.iconfont {
        float: left;
        margin-right: 6px;
      }
    }
  }
}
