# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
script/.svn/
script/shell/.svn/
src/.svn/
src/main/.svn/
src/main/java/.svn/
src/main/java/com/.svn/
src/main/java/com/baodanyun/.svn/
src/main/java/com/baodanyun/websocket/.svn/
src/main/java/com/baodanyun/websocket/bean/.svn/
src/main/java/com/baodanyun/websocket/bean/conf/.svn/
src/main/java/com/baodanyun/websocket/bean/msg/.svn/
src/main/java/com/baodanyun/websocket/bean/msg/active/.svn/
src/main/java/com/baodanyun/websocket/bean/msg/msg/.svn/
src/main/java/com/baodanyun/websocket/bean/msg/status/.svn/
src/main/java/com/baodanyun/websocket/bean/user/.svn/
src/main/java/com/baodanyun/websocket/bean/userInterface/.svn/
src/main/java/com/baodanyun/websocket/bean/userInterface/claims/.svn/
src/main/java/com/baodanyun/websocket/bean/userInterface/mall/.svn/
src/main/java/com/baodanyun/websocket/bean/userInterface/order/.svn/
src/main/java/com/baodanyun/websocket/bean/userInterface/policy/.svn/
src/main/java/com/baodanyun/websocket/bean/userInterface/user/.svn/
src/main/java/com/baodanyun/websocket/controller/.svn/
src/main/java/com/baodanyun/websocket/core/.svn/
src/main/java/com/baodanyun/websocket/core/common/.svn/
src/main/java/com/baodanyun/websocket/core/handle/.svn/
src/main/java/com/baodanyun/websocket/core/handle/plugin/.svn/
src/main/java/com/baodanyun/websocket/core/handle/plugin/nodeEvent/.svn/
src/main/java/com/baodanyun/websocket/core/handle/plugin/withoutNode/.svn/
src/main/java/com/baodanyun/websocket/core/interceptors/.svn/
src/main/java/com/baodanyun/websocket/core/sender/.svn/
src/main/java/com/baodanyun/websocket/dao/.svn/
src/main/java/com/baodanyun/websocket/exception/.svn/
src/main/java/com/baodanyun/websocket/factory/.svn/
src/main/java/com/baodanyun/websocket/filter/.svn/
src/main/java/com/baodanyun/websocket/httpBean/.svn/
src/main/java/com/baodanyun/websocket/json/.svn/
src/main/java/com/baodanyun/websocket/listener/.svn/
src/main/java/com/baodanyun/websocket/model/.svn/
src/main/java/com/baodanyun/websocket/service/.svn/
src/main/java/com/baodanyun/websocket/service/impl/.svn/
src/main/java/com/baodanyun/websocket/service/impl/lifecycle/.svn/
src/main/java/com/baodanyun/websocket/springConfig/.svn/
src/main/java/com/baodanyun/websocket/util/.svn/
src/main/resources/.svn/
src/main/webapp/.svn/
src/main/webapp/WEB-INF/.svn/
src/main/webapp/WEB-INF/lib/.svn/
src/main/webapp/WEB-INF/views/.svn/
src/main/webapp/WEB-INF/views/admin/.svn/
src/main/webapp/WEB-INF/views/admin/common/.svn/
src/main/webapp/WEB-INF/views/admin/left/.svn/
src/main/webapp/WEB-INF/views/admin/right/.svn/
src/main/webapp/WEB-INF/views/admin/window/.svn/
src/main/webapp/WEB-INF/views/visitor/.svn/
src/main/webapp/resouces/.svn/
src/main/webapp/resouces/ajax/.svn/
src/main/webapp/resouces/audio/.svn/
src/main/webapp/resouces/css/.svn/
src/main/webapp/resouces/exam/.svn/
src/main/webapp/resouces/exam/data/.svn/
src/main/webapp/resouces/exam/images/.svn/
src/main/webapp/resouces/exam/images/checkup/.svn/
src/main/webapp/resouces/exam/images/checkup/organ/.svn/
src/main/webapp/resouces/exam/images/health/.svn/
src/main/webapp/resouces/exam/javascripts/.svn/
src/main/webapp/resouces/ex
am/stylesheets/.svn/
src/main/webapp/resouces/images/.svn/
src/main/webapp/resouces/js/.svn/
src/main/webapp/resouces/js/lightbox/.svn/
src/main/webapp/resouces/js/lightbox/css/.svn/
src/main/webapp/resouces/js/lightbox/img/.svn/
src/main/webapp/resouces/js/lightbox/img/demopage/.svn/
src/main/webapp/resouces/js/plugins/.svn/
src/main/webapp/resouces/js/webuploader/.svn/
src/main/webapp/resouces/js/webuploader/css/.svn/
src/main/webapp/resouces/scripts/.svn/
src/main/webapp/resouces/scripts/laypage/.svn/
src/main/webapp/resouces/scripts/laypage/skin/.svn/
src/main/webapp/resouces/styles/.svn/
src/main/webapp/resouces/styles/visitors/.svn/
src/main/webapp/tpl/.svn/
src/main/webapp/tpl/common/.svn/
src/test/.svn/
src/test/java/.svn/
src/test/java/com/.svn/
src/test/java/com/baodanyun/.svn/
src/test/java/com/baodanyun/wxmpp/.svn/
src/test/java/com/baodanyun/wxmpp/test/.svn/
src/test/resources/.svn/
wxmpp.iml
src/main/webapp/resouces/exam/stylesheets/.svn/
Wou
ld remove src/main/webapp/resouces/images/.svn/
src/main/java/com/baodanyun/websocket/bean/apiBean/
src/test/java/com/baodanyun/websocket/
target/
