<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://java.sun.com/jsf/core"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!--<context:property-placeholder location="classpath*:config*.properties" ignore-unresolvable="true"
                                  file-encoding="UTF-8"/>


    <context:component-scan base-package="com.baodanyun.websocket.controller"/>
    <context:component-scan base-package="com.baodanyun.websocket.service"/>

    <mvc:annotation-driven/>
    <task:annotation-driven/>

    <import resource="spring-activeMQ-conf.xml" />-->
</beans>
